<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./Images/bandeira.png">
    <link rel="stylesheet" href="./Styles/global.css">
    <script src="./Scripts/Angular/angular.min.js"></script>
    <script src="./Scripts/Angular/app.js"></script>
    <script src="./Scripts/Angular/angular-validate.js"></script>
    <!-- <script src="./Scripts/main.js"></script> -->
    <title>NIF Validator | Portugal </title>
</head>
<body ng-app="app" ng-cloak>
    <div ng-controller="ValidateController as ctrlValidate">      
        <header class="row">
            <span style="font-size: 1.3rem;">NIF Validator</span>
            <!-- <ul class="row">
                <li><a href="#validate-nif">Validate NIF</a></li>
                <li><a href="#api">API For Developers</a></li>
                <li><a href="#about">About the Creator</a></li>   
            </ul> -->
        </header>
        <main>
            <div id="validate-nif" class="column section">            
                <span style="font-size: 2rem; text-align: center;">
                    Validate a NIF (Portuguese TIN) in a few seconds and completely free of charge.
                </span> 
                <div class="row center" style="gap: 1rem;">
                    <img src="./Images/bandeira.png" alt="portugal-flag" id="portugal-flag" class="circle">
                    <input type="text" maxlength="9" ng-model="NifValue" ng-class="{'input-mandatory': NifValue == '' || NifFieldIsBlank}" placeholder="Enter the NIF you want to validate" ng-change="ValidateFieldMandatory()">
                    <button ng-click="Validate()">Validate</button>
                </div>
                <span ng-if="NifFieldIsBlank">Fill in the required field</span>
                <span ng-if="ShowErrorRequest">There was an error trying to perform the validation, please contact our team, here.</span>
                <div id="validate-result" class="row" ng-if="HasProcessed">                 
                    <span id="validity" ng-class="{'card-green': ResponseApi.isValid , 'card-red': !ResponseApi.isValid} ">{{ResponseApi.isValid ? 'VALID NIF!' : 'INVALID NIF!'}}</span>
                    <div>
                        <span>NIF: </span>
                        <span>{{SearchNif}}</span>
                    </div>
                    <div id="nif-type" class="row" ng-if="ResponseApi.isValid">
                        <span>Type: </span>
                        <span id="type-result">{{ResponseApi.type}}</span>
                    </div>
                    <span id="error-message">{{ResponseApi.errorMessage}}</span>
                </div>
            </div>
            <div id="api" class="column section center">
                <span class="title">API For Developers</span>
                <span style="text-align: center;">If you are a software developer and want to integrate NIF Validator with your application. Access the official documentation, here.</span>
                <span style="text-align: center;">Example of valid request response:</span>
                <code style="background: rgb(97, 97, 97); padding: .5rem; border-radius: .3rem; text-align: center;">{
                    "isValid": true,
                    "type": "Legal Person",
                    "errorMessage": null
                }</code>
            </div>
            <div id="about" class="column section center">
                <span class="title">About the Creator</span>
                <span style="text-align: center;">I'm Luiz Camargo, a Brazilian Full Stack Developer passionate for solving problems and create new things. </span>
                <span style="text-align: center;">it's a pleasure to have you here!</span>
            </div>
        </main>
        <footer class="row center">
            <span>© Copyright {{Year}} | Created by Luiz Camargo </span>
        </fo>
    </div>

</body>
</html>