@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    background: #1E1F24;
    color: #fff;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: #0a0a0ce1;
}

ul {
    text-decoration: none;
    list-style: none;
    gap: 2rem;
}

a {
    
}

.row {
    display: flex;
    flex-direction: row;
}

