@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #219642;
    --red: #D1221D;
}

body {
    font-family: 'Mukta', sans-serif;
    background: #1E1F24;
    color: #fff;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background: #0a0a0ce1;
}

ul {
    list-style: none;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: var(--green);
}

main {
    margin-top: 5rem;
}

input {
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    padding-left: 1rem;
}

input:focus {
    outline: none;
}

button {
    border: none;
    border-radius: 1rem;
    background: var(--green);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.circle {
    border-radius: 10rem;
}

.card-green {
    background: var(--green);
}

.card-red {
    background: var(--red);
}

.input-mandatory {
   border: 0.15rem solid red;
}

#validate-nif {
    align-items: center;
    gap: 2rem;
}

#validate-nif input {
    width: 20rem;
}

#validate-nif button {
    width: 5rem;
}

#portugal-flag {
    background-image: url(../Images/bandeira.png);
    background-size: cover;
    height: 2rem;
    width: 2rem;
}

#validate-result {
    gap: 2rem;
    height: 4rem;
    width: 30rem;
    background: #595959;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid;
}

#validity {
    width: 6rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

#nif-type {
    gap: .2rem;
}

